<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask App</title>
</head>
<body>
    <div class="container">
        <h1>Welcome, friend!</h1>
        <p>What is your name?</p>
        <form method="POST">
            <input type="text" id="name" name="name" required>
            <button type="submit" class="button">Enter</button>
        </form>
        {% if name %}
        <p>Hello, {{ name }}!</p>
        {% endif %}
        <!--<a href="{{ url_for('contact') }}" class="button">Greeting</a>-->
    </div>
</body>
</html>
